In [2]:
#Akshita Handoo-RA2011026030083

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [4]:
df = pd.read_csv(r'c:\Dataset.csv')
df.head(5)

,MEMBERSHIP_NUMBER,MEMBERSHIP_TERM_YEARS,ANNUAL_FEES,MEMBER_MARITAL_STATUS,MEMBER_GENDER,MEMBER_ANNUAL_INCOME,MEMBER_OCCUPATION_CD,MEMBERSHIP_PACKAGE,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,PAYMENT_MODE,AGENT_CODE,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD),END_DATE (YYYYMMDD)
0,A00001,29,113125.0,M,M,25200000.0,1.0,TYPE-B,45,2,ANNUAL,477,INFORCE,20060914,NaN
1,A00002,38,112220.0,M,M,10339200.0,1.0,TYPE-B,36,3,QUARTERLY,255,INFORCE,20061102,NaN
2,A00003,12,100000.0,M,M,14400000.0,1.0,TYPE-B,42,1,ANNUAL,7866,INFORCE,20070124,NaN
3,A00004,12,100000.0,M,M,9000000.0,1.0,TYPE-B,39,2,ANNUAL,200533,INFORCE,20070122,NaN
4,A00005,46,100000.0,M,M,4800000.0,1.0,TYPE-B,27,2,QUARTERLY,6988,INFORCE,20070131,NaN

In [5]:
df.dtypes

MEMBERSHIP_NUMBER         object
MEMBERSHIP_TERM_YEARS      int64
ANNUAL_FEES              float64
MEMBER_MARITAL_STATUS     object
MEMBER_GENDER             object
MEMBER_ANNUAL_INCOME     float64
MEMBER_OCCUPATION_CD     float64
MEMBERSHIP_PACKAGE        object
MEMBER_AGE_AT_ISSUE        int64
ADDITIONAL_MEMBERS         int64
PAYMENT_MODE              object
AGENT_CODE                object
MEMBERSHIP_STATUS         object
START_DATE (YYYYMMDD)      int64
END_DATE  (YYYYMMDD)     float64
dtype: object

In [6]:
columns_to_drop = ['MEMBERSHIP_NUMBER','MEMBER_MARITAL_STATUS', 'MEMBER_GENDER','MEMBERSHIP_PACKAGE','PAYMENT_MODE','AGENT_CODE','END_DATE  (YYYYMMDD)','ANNUAL_FEES','MEMBER_ANNUAL_INCOME','MEMBER_OCCUPATION_CD']
df.drop(columns=columns_to_drop,inplace=True)
df.head()

,MEMBERSHIP_TERM_YEARS,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,MEMBERSHIP_STATUS,START_DATE (YYYYMMDD)
0,29,45,2,INFORCE,20060914
1,38,36,3,INFORCE,20061102
2,12,42,1,INFORCE,20070124
3,12,39,2,INFORCE,20070122
4,46,27,2,INFORCE,20070131

In [7]:
df.dtypes

MEMBERSHIP_TERM_YEARS     int64
MEMBER_AGE_AT_ISSUE       int64
ADDITIONAL_MEMBERS        int64
MEMBERSHIP_STATUS        object
START_DATE (YYYYMMDD)     int64
dtype: object

In [8]:
mapping = {'INFORCE': 1, 'CANCELLED': 0}

In [9]:
df['MEMBERSHIP_STATUS'] = df['MEMBERSHIP_STATUS'].map(mapping)

In [10]:
X = df.drop('MEMBERSHIP_STATUS', axis=1)
y = df['MEMBERSHIP_STATUS']

In [11]:
X.head()

,MEMBERSHIP_TERM_YEARS,MEMBER_AGE_AT_ISSUE,ADDITIONAL_MEMBERS,START_DATE (YYYYMMDD)
0,29,45,2,20060914
1,38,36,3,20061102
2,12,42,1,20070124
3,12,39,2,20070122
4,46,27,2,20070131

In [12]:
df.dtypes

MEMBERSHIP_TERM_YEARS    int64
MEMBER_AGE_AT_ISSUE      int64
ADDITIONAL_MEMBERS       int64
MEMBERSHIP_STATUS        int64
START_DATE (YYYYMMDD)    int64
dtype: object

In [13]:
y

0        1
1        1
2        1
3        1
4        1
        ..
10357    1
10358    1
10359    1
10360    1
10361    1
Name: MEMBERSHIP_STATUS, Length: 10362, dtype: int64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [16]:
model = LogisticRegression()

In [17]:
model.fit(X_train_scaled, y_train)

LogisticRegression()

In [18]:
y_pred = model.predict(X_test_scaled)

In [19]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")
print(f"Classification Report:\n{classification_rep}")

Accuracy: 0.6975397973950795
Confusion Matrix:
[[  27  593]
 [  34 1419]]
Classification Report:
              precision    recall  f1-score   support

           0       0.44      0.04      0.08       620
           1       0.71      0.98      0.82      1453

    accuracy                           0.70      2073
   macro avg       0.57      0.51      0.45      2073
weighted avg       0.63      0.70      0.60      2073